<div class="card-group">
    <div class="card">
        <img src="./advoku-logo.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="./lawyer-pic1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">How to Find a Good Lawyer and Pay Attorney Fees</h5>
            <p class="card-text">If you have engaged an attorney to represent you in a lawsuit, whether as a plaintiff or defendant, the attorney fees should be included in the damages sought in the initial suit or counter-suit. If you win, the other side must reimburse you for legal expenses subject to the agreement of the judge or jury that the fees were reasonable and documented. If you lose the suit, it is likely that you must pay the other side’s attorney fees with the same requirement that they be reasonable and documented.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="./lawyer-pic2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Do I Need A Personal Injury Lawyer?</h5>
            <p class="card-text">When should I call a personal injury lawyer? The question can be difficult for many people. It’s easy to talk yourself out of getting help, or to convince yourself a situation isn’t as bad as it really is. When you’re injured, it’s crucial that you get a personal injury lawyer to help walk you through the process. A lawyer isn’t just someone who tries a case in court. They also help you communicating with insurance companies, making sense of medical bills, and navigating your workers comp claim through a sometimes-complex administrative process.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>