<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalTitle">LOGIN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/login" method="POST">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col">
                            <label for="userlogin">Username</label>
                            <br>
                            <input id="userlogin" type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="passLogin">Password</label>
                            <input type="password" class="form-control" name="password" id="passLogin">
                        </div>
                    </div>
                    <br>
                    <label>
                        Role
                    </label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="lawyerRole" value="lawyer" checked>
                        <label class="form-check-label" for="lawyerRole">
                            Lawyer
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="userRole" value="user">
                        <label class="form-check-label" for="userRole">
                            Client
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="adminRole" value="admin" checked>
                        <label class="form-check-label" for="adminRole">
                            Admin
                        </label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>